.card {
    background-color: var(--palette-gray);
    color: #fff !important;
}

.card ::v-deep .v-card-item .v-icon {
    color: var(--palette-orange);
    font-size: 2.5rem;
}

.card ::v-deep .v-messages__message {
    color: #fff;
}

.card ::v-deep .v-btn {
    background-color: var(--palette-orange);
    color: #000;
}
